@page "/fileadmin" 
@inject NavigationManager nav

<h1>File Administrator</h1>

<div class="form-group">
<button class="btn btn-primary" @onclick="GotToAddFileAdmin">Add New File</button>
</div>

@if(BlazorFiles ==null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>File Name</th>
                <th>Date Created</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in BlazorFiles)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.FileName</td>
                    <td>@item.DateCreated</td>
                </tr>
            }
        </tbody>
    </table>
}

@code
{
    [CascadingParameter] public IModalService Modal { get; set; }

    public List<BlazorFile> BlazorFiles {get;set;}

    protected override async Task OnInitializedAsync()
    {
        BlazorFiles = new List<BlazorFile>();
        BlazorFiles.Add(new BlazorFile() 
        { 
            Name = "File 1",
            Description = "This is the file 1",
            DateCreated = DateTime.Now,
            FileName = "FileName.txt"
        });    

        BlazorFiles.Add(new BlazorFile() 
        { 
            Name = "File 2",
            Description = "This is the file 2",
            DateCreated = DateTime.Now,
            FileName = "FileName2.log"
        });    
    }

    public void GotToAddFileAdmin()
    {
        Modal.Show<AddFileAdmin>("Add New File");
    }
    
}